main {
  box-sizing: border-box;
  width: 800px;
  max-height: 90%;
  background: white;
  text-align: center;

  border-radius: 6px;
  box-shadow: 0 0 8px rgba(189, 189, 189, 0.743);

  position: relative;
  top: 5%;
  padding: 45px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@media screen and (min-width: 1600px) {
  main {
    width: 1200px;
  }
}

@media screen and (max-width: 1600px) {
  main {
    width: 800px;
  }
}

main > * {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  white-space: nowrap;

  border-radius: 4px;
  font-weight: 900;
}

#title {
  font-size: 32px;
  line-height: 32px;
  padding: 10px;
  color: rgb(0, 53, 128);
  font-weight: 600;
}
