#rankingContainer {
  border-radius: 8px;
  overflow: hidden;
}

#ranking {
  width: 100%;
}

#ranking tr {
  height: 50px;
  line-height: 50px;
}

#ranking > thead {
  background: rgb(0, 53, 128);
  color: white;
  font-weight: 600;
}

#ranking tbody tr:nth-child(2n) {
  background: rgb(226, 221, 255);
}

#ranking tbody tr:nth-child(2n + 1) {
  background: rgb(243, 243, 243);
}

#ranking tbody tr:hover {
  background: lightgrey;
}

#ranking tbody tr button {
  background: rgb(210, 69, 69);
  color: white;
  width: 50px;
  height: 30px;
}
