main {
  width: 800px;
  background: white;
  text-align: center;

  border-radius: 6px;
  box-shadow: 0 0 8px rgba(189, 189, 189, 0.743);

  position: relative;
  top: 5%;
  padding: 45px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main > * {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  white-space: nowrap;

  border-radius: 4px;
  font-weight: 900;
}

#title {
  font-size: 32px;
  line-height: 32px;
  padding: 10px;
  color: rgb(0, 53, 128);
  font-weight: 600;
}

#userInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  color: rgb(65, 65, 65);
  font-weight: 600;
  height: 80px;
}

#userInput button {
  width: 10%;
  background: rgb(255, 223, 16);
  height: 36px;
}

.medalInputField {
  width: 120px;
  height: 60px;
}

.medalInputField > input {
  width: 95%;
  margin-top: 8px;
  height: 30px;
}

#rankingContainer {
  border-radius: 8px;
  overflow: hidden;
}

#ranking {
  width: 100%;
}

#ranking tr {
  height: 50px;
  line-height: 50px;
}

#ranking > thead {
  background: rgb(0, 53, 128);
  color: white;
  font-weight: 600;
}

#ranking tbody tr:nth-child(2n) {
  background: rgb(226, 221, 255);
}

#ranking tbody tr:nth-child(2n + 1) {
  background: rgb(243, 243, 243);
}

#ranking tbody tr:hover {
  background: lightgrey;
}

#ranking tbody tr button {
  background: rgb(210, 69, 69);
  color: white;
  width: 50px;
  height: 30px;
}
